:root {
  --primBackgrdColor: #081e05;
}


body {
 
  font-family: motiva-sans, sans-serif;
  font-style: normal;
  font-weight: bold; 
  background: var(--primBackgrdColor);
  background-image: radial-gradient(#12470c 3.5px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
  color: #ffffff;
  width: 50%;
  margin: auto;
}
 


#wholePage{
  width: 1000px;
  border: 3px solid #000000;/*we add a frame by the way, then the students will actually see this box, instead of double it can be: solid, dotted, dashed*/
  background-color: #12470c;

}        


#sastavak{
  font-family: motiva-sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;

} 
 
#buttons {
  color: 'black';
}
 
#logo {
  display: block;
  width:500px;
  margin-left: auto;
  margin-right: auto;

}
 
 
#navigation{
  width: 700px;
  margin-left:auto;
  margin-right:auto;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  padding:10px;
  text-align: center;
 }
li {
 
  display: inline;
  letter-spacing:1px;
  padding:10px;
 }
 
 
a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
 
}
 
a:hover {
  color: #ff0000;
  }
 
 
#baner{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:600px;
  border-radius:10px;

  }

i{
  font-size: 0.7cm;
  font-family: motiva-sans, sans-serif;
  font-style: normal;
  font-weight: bold;
}


q{
  font-size: 0cm;
  font-family: 'Quicksand', motiva-sans;
}
 
p {
  text-align: center;
  font-size: 0.9cm;
  font-family: motiva-sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  }
#ps {
  text-align: center;
  font-size: 12px;
  font-family: motiva-sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  border-radius: 30px;
  }
  
 
#contact{
 
  padding: 30px;
  height:1300px;
  
}
 
 
form {
  margin-top: 20px;
  width: 400px;
  background-color: rgba(121, 121, 121, 0.25);
  
 
}
form input,form select{
 
  width:330px;
  height: 35px;
  font-size:20px;
 
}

#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}

textarea{
  width: 330px;
  font-size:20px;
  resize: none;
 
}
 
label{
 
  font-size: 28px;
}
 
 
fieldset{
 
  padding:20px;
  margin-bottom:10px;
 
}
 
legend{
  font-size:30px;
}
 
 
 
#button{
  width:150px;
  height:60px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 15px;
  font-size: 16px;
  border-radius: 6px;
  letter-spacing:1px;
  border: 2px solid #1f1a34;
  text-transform:uppercase;
  
 
}
 
 
#button:hover {
  background-color: rgb(148, 148, 148); 
  color: black;
  cursor:pointer;
 
 
}
 
 
 
.twoColumns
{
  width:50%;
  float:left;

  
}
